#root {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

html {
  position: relative;
  min-height: 100%;
  background-color: #2b2d30;
}

.menu-link {
  text-decoration: none;
  font-size: 1.5rem;
  /*color: red;*/
  margin: 0.25rem;
}

.menu-link:hover {
  text-decoration: underline;
  /*color: darkred;*/
}

header {
  position: static;
  top: 0;
  width: 100%;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #451a1a;
}